.NavBar {
    z-index: 999;
    position: fixed;
    padding-left: 75vw;
    min-width: 100%;
    float: right;
    /* background: black; */
}

.navBar-button {
    display: inline;
    font-size: 32px;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
}

.navButton {
    transition-duration: 0.4s;
    font-size: 1em;

    color: #dad6ca;
    border: none;
    background: none;
    margin-top: 4vh;
    padding-left: 2vh;
}

.navButton:hover {
    /* background-color: #fee75c; */
    text-decoration: underline #ff611d;
    /* box-shadow: 0vh 1vh #fee75c; */
}