.Career {
    position: relative;
    height: 100vh;

    /* background-color: #272a2f; */

    background-image: url("./layered-waves-haikei2.svg");
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.flex-container-career {
    padding-top: 15%;
    padding-bottom: 15%;
    padding-left: 25%;
    padding-right: 25%;
}

.career-layout {
    display: flex;
    flex-direction: row;
    padding-top: 2%;
}

.career-text-area {
    position: relative;
    margin-top: 5%;
    margin-left: 7%;
    margin-right: 12%;
}

.career-ul {
    list-style: none;
}

.career-li {
    width: 100%;
    padding: 10%;
}

.career-button {
    background-color: transparent;
    color: white;
    border: none;
    background: none;
    cursor: pointer;
}
