/* LEFT SIDE */

.splash-grid-container {
    font-family: "Roboto", sans-serif;
    grid-column: span 12;
    grid-row: span 7;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #dad6ca;
    color: black;

    /* color: #dad6ca; */
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
}

.left-side {
    line-height: 900%;
}

.left-side h2 {
    padding-top: 5%;
    padding-left: 2%;
    font-size: 72px;
    font-weight: 800;
}

.left-side h1 {
    letter-spacing: 35px;
    font-size: 300px;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    /* margin-right: 25%; */
}

.left-side p {
    font-size: 40px;
    font-weight: 800;
    /* padding-left: 2%; */
}

.hi {
    background-color: #233446;
    /* background-color: #151f2a; */
    color: #dad6ca;
}

/* RIGHT SIDE */
.right-side {
    color: black;
    padding-top: 35%;
}

.right-side h2 {
    font-size: 50px;
    font-weight: 800;
}

.right-side-h2-shadows {
    /* text-shadow: 10px 10px white; */
}

.solutions-text {
    text-shadow: 6px 6px #233446;
}

hr {
    border: none;
    margin-top: 0;
    border-bottom: 1px solid black;
    /* box-shadow: 0 20px 20px -20px #333; */
    margin: -50px auto 10px;
}
