/* LEFT SIDE */

.leftSide {
    margin-left: 5%;
    margin-right: 5%;
    position: relative;
}

.pictureOfMe {
    width: 90%;
    height: auto;
    border-radius: 12%;
    transition: 0.4s;
}

.pictureOfMe:hover {
    border-radius: 2%;
}

img {
    filter: grayscale(70%);
    transition: 0.4;
    box-shadow: 0 1vh 1vh 0 rgba(0, 0, 0, 0.2), 0 1vh 1vh 0 rgba(0, 0, 0, 0.19);
}

img:hover {
    filter: grayscale(0%);
    /* box-shadow: 1vh, 1vh, 1vh, 1vh #1c2023; */
    box-shadow: 0 2vh 2vh 0 rgba(0, 0, 0, 0.2), 0 2vh 2vh 0 rgba(0, 0, 0, 0.19);
}
