/* RIGHT SIDE */

.rightSide {
    padding-top: 10%;
}

.info {
    /* margin-top: 10%; */
}

.HI {
    /* line-height: 20%; */
}

.DARIUS {
    margin: 0;
    padding: 0;
    font-size: 8em;
    line-height: 90%;
}
