/* .current-work-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2%;
} */

.career-container {
    /* color: #122620; */
    display: block;
    /* justify-content; */
    max-width: 1200px;
    margin: 60px auto;
    padding: 20px;
}

.career-container p {
    line-height: 1.5rem;
    font-size: 16px;
    /* padding: 5%; */
    /* align-items: center; */
}

.internship {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1.5rem;
}

.credits-team {
    color: #4c72c4;
    /* padding-top: 3%;
    padding-left: 5%;
    padding-right: 10%; */
}
.credits-team h1 {
    font-size: 64px;
    font-weight: 700;
}

.data-team {
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 10%;
}

.core-team {
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 10%;
}
